.DS_Store

*.exe
*.dll
*.so
*.dylib
*.test
*.out

/bin/
/vendor/
node_modules/
.yarn/*
.pnp/
.pnp.*

!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

go.work
go.work.sum

.env
.env.*
!.env.example

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist/
dist-ssr/
frontend/dist/
.cache/
.next/
.out/
.build/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

docker-compose.override.yml

.ollama/

/coverage

*.local

*.tsbuildinfo
next-env.d.ts

.vercel

*.pem

.venv/
__pycache__
**/__pycache__
*.pyc

vald/
