DATABASE_URL=postgres://username:password@postgres:5432/postgres?sslmode=disable
PORT=8080
ALLOWED_ORIGINS=*
ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
ALLOWED_HEADERS=Content-Type,Authorization
SIGNING_KEY=securesigningkeysecuresigningkey
ENCRYPTION_KEY=securecryptngkeysecurecryptngkey
JWT_SECRET=securecryptngkeysecurecryptngkey
JWT_EXPIRY=1h
S3_ENDPOINT=http://garage:3900
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname
NATS_URL=nats://natsuser:natspassword@nats:4222
NATS_USER=natsuser
NATS_PASSWORD=natspassword
SECURITY_ENABLED=true
OPENSEARCH_URL=http://opensearch:9200
UIBaseURL=http://localhost:5173
